@font-face {
  font-family: PTSans-Regular;
  src: url("assets/fonts/PTSans-Regular.ttf");
}

@font-face {
  font-family: "PTSans-Bold";
  src: url("assets/fonts/PTSans-Bold.ttf");
  font-weight: 300;
}

* {
  box-sizing: border-box;
}
